
.mat-column-ComponentName{
    width: 20% !important;
}
.mat-column-ComponentDescription{
    width: 35% !important;
}
.mat-column-ComponentType{
    width: 15% !important;
}

.mat-column-ModifiedOn{
    width: 20% !important;
}

.mat-column-ComponentStatus{
    width: 10% !important;
}
