
.mat-column-Name{
    width: 20% !important;
}
.mat-column-Description{
    width: 55% !important;
}
.mat-column-Priority{
    width: 20% !important;
}
.mat-column-Action{
    width: 5% !important;
}