
.mat-column-ProjectName {
    width: 40% !important;
}

.mat-column-Classification {
    width: 25% !important;
}

.mat-column-RiskPolicy {
    width: 20% !important;
}
.mat-column-Action {
    width: 15% !important;
}