<div class="flex flex-col flex-auto min-w-0">
    <!-- Header -->
    <div class="flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between    dark:bg-transparent">
        <div class="flex-1 min-w-0">
            <!-- Breadcrumbs -->
            <div class="flex flex-wrap items-center font-medium">
                <a [routerLink]="['../../']" class="whitespace-nowrap text-primary-500">Projects</a>
                <div class="flex items-center ml-1 whitespace-nowrap">
                    <mat-icon class="icon-size-5 text-secondary" [svgIcon]="'heroicons_mini:chevron-right'"></mat-icon>
                    <a *ngIf="projectDetails" class="ml-1 ">{{projectDetails.ProjectName}} </a>
                </div>
                <div class="flex items-center ml-1 whitespace-nowrap">
                    <mat-icon class="icon-size-5 text-secondary" [svgIcon]="'heroicons_mini:chevron-right'"></mat-icon>
                    <a *ngIf="projectDetails" class="ml-1">Components</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Main -->
    <div class="flex flex-col w-full mx-auto  ">
        <div class="relative w-full flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between">
            <mat-form-field class="opencops-mat-dense opencops-mat-no-subscript pt-4 min-w-60  mr-2">
                <mat-icon matPrefix [svgIcon]="'mat_outline:search'"></mat-icon>
                <input matInput [autocomplete]="'off'" #filter (keyup)="searchComponent($event.target.value)"
                    [placeholder]="'Search'">
            </mat-form-field>
            <button class="rounded" (click)="ImportComponents()" matRipple mat-flat-button [color]="'primary'">
                <mat-icon [svgIcon]="'heroicons_outline:plus'"></mat-icon>
                <span class="ml-2 mr-1 uppercase">Import Component</span>
            </button>
        </div>
    </div>
    <div class="flex flex-col flex-auto min-w-0">
        <div class="bg-card  rounded shadow border p-4">
            <ng-container *ngIf="componentsCount > 0; else noData">
                <table class="mt-4 border border-collapse" mat-table matSort [multiTemplateDataRows]="true"
                    [dataSource]="datasource" [trackBy]="trackByFn">
                    <ng-container matColumnDef="ComponentName">
                        <th class="dark:bg-gray-800 dark:bg-opacity-5 " mat-header-cell *matHeaderCellDef>
                            Component
                        </th>
                        <td mat-cell class="dark:bg-gray-800 py-4 " *matCellDef="let item">
                            <div class="flex items-center">
                                {{item.ComponentName}}
                            </div>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="Action">
                        <th class="dark:bg-gray-800 dark:bg-opacity-5 " mat-header-cell *matHeaderCellDef>
                        
                        </th>
                        <td mat-cell class="dark:bg-gray-800 py-4 " *matCellDef="let item">
                            <div class="flex items-center">
                                <mat-icon (click)="deleteComponent(item)" class="icon-size-5 text-secondary cursor-pointer" [svgIcon]="'heroicons_mini:trash'"></mat-icon>
                            </div>
                        </td>
                    </ng-container>
                    <tr mat-row *matRowDef="let item; columns: tableColumns;"
                        class="hover:bg-slate-200 border dark:border-gray-600"></tr>
                    <tr mat-header-row *matHeaderRowDef="tableColumns" class="border dark:border-gray-600"></tr>
                </table>
            </ng-container>
            <ng-template #noData>
                <div class="p-8 sm:p-16  text-4xl font-semibold tracking-tight text-center">There
                    are no components</div>
            </ng-template>
        </div>

        <mat-paginator class="sm:inset-x-0 rounded-b bg-slate-200 sm:bottom-0 border-b sm:border-t sm:border-b-0 z-10 bg-slate-200 shadow"
            [pageSizeOptions]="[10,25, 50, 75, 100]" [showFirstLastButtons]="true"></mat-paginator>
    </div>
</div>