.mat-column-WeaknessId {
    width: 5% !important;
}

.mat-column-WeaknessName {
    width: 65% !important;
}

.mat-column-WeaknessCwes {
    width: 15% !important;
}
.mat-column-WeaknessRiskRating {
    width: 15% !important;
}