
.mat-column-Name{
    width: 20% !important;
}
.mat-column-Description{
    width: 50% !important;
}
.mat-column-Riskpolicy{
    width: 25% !important;
}
.mat-column-Action{
    width: 5% !important;
}

